.header-bg {
    background: rgba(32, 32, 32, 1);
    position: relative;
}

.header-bg-bottom {
    background-color: white;
    position: absolute;
    transform: translate(0, -99%);
    width: 100%;
    height: 14vh;
    z-index: 1;
}

.project-showcase {
    position: relative;
    z-index: 2;
}

.find-my-games-logo {
    height: 120px;
}

.title-section {
    text-align: center;
    padding: 120px 0 50px 0;
}

.project-content {
    display: block;
}


/*div.site-logo{
	background: url('../img/tony-duan-logo-full.png') no-repeat 0% 0%;
	background-size: cover;
	height: 120px;
	width: 80px;
	margin: 0 20px 20px 0;
}*/

.full-width-container {
    background: #fff;
    background-position: 50px 50px;
    background-image: #fff;
}

.hf-wireframe-images {
/*
    display: flex;
    justify-content: space-between;
*/
}

.hf-wireframe-image {
/*    width: 100%;*/
}

.ninetyeight-image {
/*
    width: 98%;
    margin: 2% 10px;
*/
}

.complains-heading,
.expectations-heading {
    padding: 5px 10px;
    margin-bottom: 0.8em;
}

.complains-heading {
    background: #AB1E1E;
}

p.complains,
p.expectations {
    /*    margin-top: 0.8em;*/
    padding-bottom: 0.8em;
}

p.complains {
    color: #AB1E1E;
}

.expectations-heading {
    background: #00691e;
}

p.expectations {
    color: #00691e;
}

.persona-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
/*    width: 320px;*/
}

.persona {
    /*    margin: 0 10px;*/
    height: 100%;
}

.persona-image {
    width: 100%;
}

@media (min-width: 620px) {
    .persona-spacing {
        padding-right: 5px;
        padding-left: 5px;
    }
    .persona-container {
        width: 100%;
    }
}

/*
.user-stories img,
.user-flow img {
    width: 100%;
}
*/
.user-flow img,
.site-map img {
    padding: 25px;
}

.app-screens {
    display: flex;
    /*    align-items: center;*/
    /*    justify-content: center;*/
    flex-wrap: wrap;
}

.app-screens a {
    width: 33.3%;
    /*    min-width: 300px;*/
    height: auto;
    padding: 5px;
}

.nav-ribbon {
    display: flex;
    align-items: center;
    height: 130px;
    background: #000;
}

.nav-direction {
    display: inline;
    color: white;
    text-transform: lowercase;
    font-size: 20pt;
    font-weight: 700;
}

.nav-destination {
    display: inline;
}

.float-right {
    float:right;
}

.description {
    border-left: 5px solid #888;
    padding-bottom: 0;
    padding-left: 10px;
}


/* Media Queries -------------------------------------------------------------------------------------------------------------------------------------- */


/* MOBILE VIEW ------------------------------------------------------------------- */

.bubble {
    /*    display: none;*/
}

.bubble {
    display: block;
    width: 180px;
    height: 180px;
    position: absolute;
    border: 0.5px solid #A0A0A0;
    border-radius: 90px;
}
.small-spacing-all-width {
    padding-left:5px;
    padding-right:5px;
}

/* TABLET VIEW ------------------------------------------------------------------- */

@media (min-width: 620px) {
    .small-spacing {
        padding-right: 5px;
        padding-left: 5px;
    }
    .bubble {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
}

@media (max-width: 768px) {
    .mobile-container {
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;
        justify-content: center;

    }
    .mobile-vertical {
        display:flex:
        -webkit-flex-flow: column nowrap;
        -moz-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -ms-align-items: center;
        align-items: center;
        justify-content: center;
    }
    
    .mobile-width {
        max-width: 400px;
        height: 100%;
    }
    .mobile-text {
        width: 100%;
        max-width: 576px;
    }
}


/* DESKTOP VIEW ------------------------------------------------------------------- */

@media (min-width: 768px) {
    .bubble {
        width: 225px;
        height: 225px;
        border-radius: 112.5px;
    }
}

@media (min-width: 992px) {
    .bubble {
        width: 280px;
        height: 280px;
        border-radius: 140px;
    }
}
