.project-title-bg{
	background-size: cover;
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('../img/generic-paper-background-2x.jpg');
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.project-showcase-image{
/*	width: 100%;*/
}
.sketch-text{
/*
	width: 50%;
	margin: 0 10px;
*/
}
.project-showcase{
	width: 100%;
    min-width: 300px;
}
div.sketches{
	display: flex;
	flex-flow: column;
}
.branding img {
    width:25%;
    min-width:200px;
}

.sketches img {
    height:100%;
}
