* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Nunito Sans", sans-serif;
    min-width: 320px;
}

h1,
h4,
h5,
h6 {
    font-family: "futura-pt", sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0.5em;
}

h2,
h3 {
    font-family: "futura-pt-condensed", sans-serif;
    margin-top: .5em;
    margin-bottom: .5em
}

h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: lowercase;
}

h3 {
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
}

h3>span {
    display: inline-block;
    vertical-align: top;
    overflow: visible;
    padding: 0 30px;
    background: white;
}

h3.on-dark-bg>span {
    background: #0f0f0f;
    ;
}

h1>span {
    display: inline-block;
    vertical-align: top;
    overflow: visible;
    padding: 0 30px;
    background: #0f0f0f;
}

p {
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1.2em;
}

em {
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.small-text {
    font-size: 15px;
    line-height: 1.4em;
    font-weight: 200;
    color: #888;
}

.standard-text {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
    color: #666;
}

.large-text {
    font-size: 19px;
    line-height: 1.5em;
    font-weight: 300;
}

.extra-large-text {
    font-size: 19px;
    line-height: 33px;
    font-weight: 300;
}

.more-projects {
    font-size: 24px;
}

.white {
    color: white;
}

.black {
    color: black;
}

.gray-333 {
    color: #333;
}

.gray-555 {
    color: #555;
}

.gray-888 {
    color: #888;
}

.gray-bbb {
    color: #bbb;
}

.prototype-link:hover {
    color: #FFCD05;
}

ul {
    list-style-type: none;
    padding-left: 0;
    /*To override the default 40px from the brawser*/
}

a {
    color: #FFCD05;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    background-color: rgba(15, 15, 15, 0.7);
}

a:visited,
a:focus {
    text-decoration: none;
}
.background-dfdfdf {
    background-color: #dfdfdf;
}
.gray-background {
    background-color: #0f0f0f;
}

.black-background-40 {
    background: rgba(0, 0, 0, .4);
}

.black-background-80 {
    background: rgba(0, 0, 0, .82);
}

.gray-background-blur {
    -webkit-backdrop-filter: saturate(180%) contrast(580%) brightness(180%) blur(15px);
    backdrop-filter: saturate(180%) contrast(580%) brightness(180%) blur(15px);
    background-color: rgba(15, 15, 15, 0.86);
}

.gray-background-blur-2 {
    -webkit-backdrop-filter: saturate(100%) contrast(100%) brightness(180%) blur(10px);
    backdrop-filter: saturate(100%) contrast(100%) brightness(180%) blur(10px);
    background-color: rgba(15, 15, 15, 0.85);
}

.underline {
    border-bottom: 5px #FFCD05 solid;
    padding-bottom: 3px;
}

.margin-top-l {
    margin-top: 40px;
}

.margin-top-m {
    margin-top: 20px;
}

.margin-top-s {
    margin-top: 10px;
}

.padding-top-l {
    padding-top: 40px;
}

.padding-bottom-l {
    padding-bottom: 40px;
}

.padding-bottom-m {
    padding-bottom: 20px;
}

.padding-bottom-s {
    padding-bottom: 10px;
}

.margin-l-r {
    margin-left: 5px;
    margin-right: 5px;
}

.padding-l-r {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-shrunk {
    position: fixed;
    width: 100vw;
    z-index: 100;
    height: 50px;
}

.navbar-shrunk>.container,
.navbar-shrunk .left-half {
    /*  display: flex;
    align-items: center;
*/
    height: 100%;
}


/*.navbar-shrunk div.site-logo{
    background: url('../img/tony-duan-logo-small.png') no-repeat 0% 0%;
    background-size: cover;
    height: 55px;
    width: 80px;
}*/

.site-logo-small {
    display: inline-block;
    height: 30px;
    margin: 10px 0 0 0;
    padding: 0 10px;
    border-right: 0.5px #666 solid;
}

.navbar-shrunk .social-handle-mobile {
    display: none;
}


/****/

.glyphicon {
    top: 5px;
}

.navmenu-shrunk li a {
    text-decoration: none;
    color: white;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    margin-right: 30px;
}

@media (min-width: 620px) {
    .navmenu-shrunk>li a {
        font-size: 24px;
    }
}

.navmenu-shrunk a:hover {
    color: #FFCD05;
    border-bottom: 5px #FFCD05 solid;
    padding-bottom: 6px;
}

.navbar-shrunk>.right-half {
    display: flex;
    align-items: center;
}

.navmenu-shrunk,
.navbar-arrows {
    display: inline;
    margin: 0;
    float: right;
}

.navmenu-shrunk {
    margin: 5px 0 0 0;
}

.navmenu-shrunk li {
    display: inline;
}

.navmenu-shrunk .navmenu-box {
    padding: 0;
}

.navmenu-shrunk {
    display: none;
}

.navbar-arrows {
    height: 100%;
}

.navbar-arrows li {
    display: inline-block;
    background: rgba(172, 77, 157, 0.5);
    width: 50px;
    height: 50px;
}

.right-arrow {
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    position: relative;
    top: 10px;
    left: 18px;
}

.left-arrow {
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #fff;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: relative;
    top: 10px;
    left: 0px;
}

.navmenu-icon:hover {
    color: #FFCD05;
}


/* GRID --------------------------------------------------------------------------------*/

.container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    /*   to reset the bootstrap setting */
    padding-left: 10px;
    padding-right: 10px;
    min-width: 300px;
}

.container:before,
.container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.center-text {
    text-align: center;
}

.center-content {
    display: flex;
    justify-content: center;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.full-width,
.one-half,
.one-third,
.two-thirds,
.one-fourth,
.three-fourths {
    display: inline-block;
    float: left;
    clear: none;
    width: 100%;
}

.one-fourth-all-width {
    display: inline-block;
    float: left;
    clear: none;
    width: 25%;
}

.one-third-all-width {
    display: inline-block;
    float: left;
    clear: none;
    width: 33.3333%;
}

.one-half-all-width {
    display: inline-block;
    float: left;
    clear: none;
    width: 50%;
}

.two-thirds-all-width {
    display: inline-block;
    float: left;
    clear: none;
    width: 66.6667%;
}


/* Media Queries -------------------------------------------------------------------------------------------------------------------------------------- */


/* MOBILE VIEW ------------------------------------------------------------------- */

.left-half,
.right-half {
    width: 100%;
}

.header-background {
    /*    background-color: transparent;*/
}

.homepage .black-background-40 {
    background-color: transparent;
}

img.site-logo {
    height: 130px;
    position: relative;
    padding: 32px 20px;
    margin: 10px 0;
    border-right: 1px solid #353535;
}

.navbar>.left-half {
    display: inline-flex;
    align-items: flex-end;
}

.social-handle {
    display: none;
}

.social-handle-mobile {
    position: relative;
    margin: 20px;
}

header .social-handle-mobile {
    bottom: 20px;
}

.navbar {
    margin-bottom: 0;
}

.navmenu {
    margin: 0px;
}

.navbar .navmenu-box {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navmenu a {
    font-size: 24px;
}

.navmenu>li {
    display: inline-block;
    min-width: 155px;
}

#linebreak-1 {
    display: none;
}

.social-handle a,
.social-handle-mobile a {
    font-size: 18px;
    line-height: 36px;
}

.project-item>.container {
    padding: 20px;
    max-width: 75vw;
}

.project-item h2 {
    text-align: center;
}

.project-item p {
    margin-left: 0px;
}

.ham-container {
    display: inline;
    float: right;
    height: 100%;
}

.navmenu-shrunk {
    display: inline;
}

.ham {
    display: flex;
    background: rgba(20, 20, 20, 0.5);
    width: 30px;
    height: 30px;
    border: 1px solid #A0A0A0;
    border-radius: 2px;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.collapsed-items {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #fff;
}

.collapsed-items>li {
    margin: 10px 0;
    font-size: 14pt;
}


/* to get rid of the hover effect in mobile devices */

.item-generic-paper {
    background-image: url(../img/generic-paper-background-2x.jpg);
}

.item-find-my-games {
    background-image: url(../img/find-my-games-background-2x.jpg);
}

.item-blocbox {
    background-image: url(../img/blocbox-background-2x.jpg);
}

.item-waina-trading {
    background-image: url(../img/waina-trading-background-2x.jpg);
}

footer {
    border-top: #333 solid 0.5px;
}

footer img {
    height: 70px;
}

footer .left-half {
    display: flex;
    align-items: flex-end;
}

footer .right-half {
    display: none;
}

@media (max-width: 620px) {}


/* TABLET VIEW ------------------------------------------------------------------- */

@media (max-width: 768px) {
    .one-third {
        clear: both;
    }
    .desktop {
        display: none;
    }
}

@media (min-width: 620px) {
    .container {
        width: 100%;
    }
    .one-half {
        width: 50%;
    }
    .one-third {
        width: 50%;
    }
    .one-fourth {
        width: 50%;
    }
    .two-thirds {
        width: 50%;
    }
    .three-fourths {
        width: 75%;
    }
    .left-half,
    .right-half {
        float: none;
        clear: left;
    }
    .extra-large-text {
        font-size: 18px;
    }
    .header-background {
        /*        background: url('../img/header-background-2x.jpg');*/
    }
    footer {
        font-size: 24px;
    }
}


/* DESKTOP ------------------------------------------------------------------- */

@media (min-width: 768px) {
    .mobile {
        display: none;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 32px;
    }
    .margin-top-l {
        margin-top: 65px;
    }
    .margin-top-m {
        margin-top: 25px;
    }
    .margin-top-s {
        margin-top: 15px;
    }
    .padding-top-l {
        padding-top: 65px;
    }
    .padding-bottom-l {
        padding-bottom: 65px;
    }
    .padding-bottom-m {
        padding-bottom: 25px;
    }
    .padding-bottom-s {
        padding-bottom: 15px;
    }
    p.standard-text {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .margin-l-r {
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
    .padding-l-r {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .more-projects {
        font-size: 32px;
    }
    .container {
        width: 748px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .one-third {
        width: 33.3333%;
    }
    .two-thirds {
        width: 66.6667%;
    }
    .one-fourth {
        width: 25%;
    }
    .left-half,
    .right-half {
        float: left;
        clear: none;
        position: relative;
    }
    .left-half {
        width: 33.3333%;
    }
    .right-half {
        width: 66.6667%;
    }
    img.site-logo {
        height: 185px;
        border-right: 0px;
        margin: 0;
    }
    .social-handle-mobile {
        display: none;
    }
    .navbar {
        height: 30vh;
        min-height: 175px;
        max-height: 250px;
        display: block;
    }
    .navmenu {
        margin-bottom: 5px;
        /*    0px in mobile view; margin-left is defined in mobile view */
    }
    .navmenu-shrunk {
        /*        display: inline;*/
    }
    .navmenu-box {
        padding: 0;
        /*    to reset the padding from 15px in mobile view, so the background can line up with the grid*/
    }
    .navbar>.left-half {
        height: 100%;
        max-height: 300px;
        display: inline-flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .navbar>.right-half {
        height: 100%;
        display: inline-flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .ham {
        display: none;
    }
    .collapsed-items {
        display: none;
    }
    #linebreak-1 {
        display: inline;
    }
    .social-handle {
        display: block;
        text-align: right;
        margin-top: 20px;
        margin-right: 20px;
    }
    .homepage .black-background-40 {
        background: rgba(0, 0, 0, .4);
    }
    .project-item .left-half,
    .project-item .right-half {
        width: 100%;
    }
    /*    to add hover effect to desktops*/
    /*
    .item-generic-paper {
        background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../img/generic-paper-background-2x.jpg);
    }
    .item-find-my-games {
        background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../img/find-my-games-background-2x.jpg);
    }
    .item-blocbox {
        background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../img/blocbox-background-2x.jpg);
    }
    .item-waina-trading {
        background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../img/waina-trading-background-2x.jpg);
    }
*/
    footer .left-half {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    footer .right-half {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer li {
        list-style-type: none;
        display: inline;
        margin-right: 50px;
    }
}


/* DESKTOP FULL ------------------------------------------------------------------- */

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
    .small-text {
        font-size: 16px;
    }
    .standard-text {
        font-size: 19px;
    }
    .large-text {
        font-size: 21px;
    }
    .extra-large-text {
        font-size: 23px;
    }
    .navbar {
        display: block;
        height: 40vh;
        min-height: 200px;
        max-height: 250px;
    }
    /*    div.site-logo{
        height:150px;
    }*/
    .navmenu {
        margin-bottom: 0;
    }
    .navmenu a {
        font-size: 32px;
    }
    .navmenu>li {
        display: inline-block;
        min-width: 188px;
    }
    .social-handle a,
    .social-handle-mobile a {
        font-size: 24px;
        line-height: 1.6em;
    }
    .project-item .container {
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    .project-item .left-half {
        text-align: right;
        width: 33.3333%;
    }
    .project-item .right-half {
        text-align: left;
        width: 66.6667%;
    }
    .project-item p {
        margin-left: 20px;
    }
}


/* HEADER ----------------------------------------------------------------------------*/

.header-background {
    background: url('../img/header-background-2x.jpg');
}

.header-background {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    max-height: 200vh;
    z-index: -100;
}

.navbar .scheme-background {
    /*    background: rgba(172, 77, 157, 0.55)*/
}

.scheme-background {
    -webkit-backdrop-filter: saturate(180%) contrast(180%) brightness(180%) blur(5px);
    backdrop-filter: saturate(180%) contrast(180%) brightness(180%) blur(5px);
    background-color: rgba(172, 77, 157, 0.55);
    /*    background: rgba(172, 77, 157, 0.55)*/
}

.navbar .navmenu.mobile {}


/*.navbar-collapsed {
    height:70px;
}*/

.navmenu a {
    text-decoration: none;
    color: white;
    font-family: "futura-pt", sans-serif;
    margin-left: 20px;
    /*    this is defined in a tag instead of .navmenu to prevent full width of the page being more than 100% */
    margin-right: 20px;
    line-height: 2em;
}

.navmenu a:hover {
    color: #FFCD05;
    border-bottom: 5px #FFCD05 solid;
    padding-bottom: 6px;
}

.navmenu-collapsed a {
    text-decoration: none;
    color: white;
    font-family: "futura-pt", sans-serif;
    font-size: 24px;
    margin-right: 30px;
}

.navmenu-collapsed a:hover {
    border-bottom: 5px #FFCD05 solid;
    padding-bottom: 3px;
}

.navmenu-collapsed>li {
    display: inline;
}

.social-handle a,
.social-handle-mobile a {
    text-decoration: none;
    color: white;
    font-family: "futura-pt", sans-serif;
}

.social-handle a:hover,
.social-handle-mobile a:hover {
    color: #AC4D9D;
}


/*.main-content,*/

.margin-20 {
    margin: 20px;
}

.padding-20 {
    padding: 20px;
}

.intro-text h1 {
    margin-left: 0;
    margin-top: 0;
    font-size: 180%;
}

.intro-text {
    padding-bottom: 35px;
}

@media (max-width:768px) {
    .intro-text {
        padding-bottom: 0;
        margin-bottom: 10px;
    }
}


/* FOOTER ------------------------------------------------------------------------*/

footer {
    height: auto;
    font-family: "futura-pt", sans-serif;
    color: white;
}

footer .container {
    height: 130px;
}

footer .left-half a {
    margin: 25px;
}

footer .right-half ul {
    margin: 25px;
}

footer .right-half a:hover {
    color: #AC4D9D;
}


/* PROJECTS ----------------------------------------------------------------------*/

.project-item h2 {
    position: relative;
}

.project-item p {
    text-align: left;
    padding-bottom: 0;
}


/*GENERIC PAPER*/

.item-generic-paper:hover {
    background-image: url(../img/generic-paper-background-2x.jpg);
}

.item-generic-paper h2 {
    color: #48C2C5;
}

.item-generic-paper:hover>.container {
    border-left: 5px solid #48C2C5;
    border-right: 5px solid #48C2C5;
}


/*FIND MY GAMES*/

.item-find-my-games:hover {
    background-image: url(../img/find-my-games-background-2x.jpg);
}

.item-find-my-games h2 {
    color: #AB1E1E;
}

.item-find-my-games:hover>.container {
    border-left: 5px solid #AB1E1E;
    border-right: 5px solid #AB1E1E;
}


/*BLOCBOX*/

.item-blocbox:hover {
    background-image: url(../img/blocbox-background-2x.jpg);
}

.item-blocbox h2 {
    color: #8BBDE5;
}

.item-blocbox:hover>.container {
    border-left: 5px solid #8BBDE5;
    border-right: 5px solid #8BBDE5;
}


/*WAINA TRADING*/

.item-waina-trading:hover {
    background-image: url(../img/waina-trading-background-2x.jpg);
}

.item-waina-trading h2 {
    color: #693F89;
}

.item-waina-trading:hover>.container {
    border-left: 5px solid #693F89;
    border-right: 5px solid #693F89;
}

.project-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0%;
    /*
    margin-top: 10px;
    margin-bottom: 10px;
*/
    display: inline-block;
    width: 100%;
    min-height: 380px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.project-item>.container {
    background: rgba(0, 0, 0, .8);
    box-sizing: content-box;
    padding-top: 35px;
    padding-bottom: 35px;
}

.more-projects {
    height: 100px;
    border-bottom: 1px solid #353535;
    border-top: 1px solid #353535;
    font-family: "futura-pt", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-projects a:hover {
    color: #FFCD05;
}


/* ABOUT ME ------------------------------------------------------------------*/

.about-me-header .header-background-2 {
    background: url('../img/contact&bio-background-2x.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    z-index: -100;
}

.about-me-box {
    margin-bottom: 20px;
}

.profile-image {
    width:300px;
    height:300px;
}


/* CONTACT -------------------------------------------------------------------*/

.form {
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

#id123-button-send {
    font-family: "futura-pt-condensed", sans-serif;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #FFCD05;
    border: none;
    width: 400px;
    max-width: 100%;
    padding: 0.3em;
    margin-right: auto;
}

.btn {
    border-radius: 0;
}

.email-form-link a:hover {
    color: white;
}

.class123-label {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

.class123-labelinfo {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: 14px;
    color: #bbbbbb;
    margin-top: 0px;
    position: relative;
    bottom: 20px;
}

#id123-control27310721 {
    width: 98%;
    height: 200px;
    max-width: 600px;
    margin-bottom: 0;
    margin-right: auto;
}

.subitem {
    padding-bottom: 0px;
}

.textarea-container {
    width: 100%;
    padding-bottom: 0px;
}

.fieldcontainer {
    width: 100%;
    padding-left: 0;
    padding-right: auto;
}

#id123-control27310717-1,
#id123-control27310717-2,
#id123-control27310718 {
    width: 98%;
    max-width: 400px;
    height: 40px;
    margin-right: auto;
}

.spam-trap {
    display: none;
}


/*CONTACT ME ----------------------------------------------------------------*/

.contact-me {
    color: white;
    /*    background-color: rgba(172, 77, 157, .55);*/
    text-align: center;
    padding: 2.6em 15px;
}

.contact-me a:hover {
    color: #FFCD05;
}

.contact-me h1,
.contact-me p {
    margin: 0;
    padding: .15em;
}

.contact-me p {
    position: relative;
    /*    top: .3em;*/
}

@media (max-width:992px) {
    .contact-notification .left-half,
    .contact-notification .right-half {
        width: 100%;
    }
}

@media (min-width:768px) {
    .contact-me p {
        position: relative;
        /*        top: 0.6em;*/
        /*        left: 0em;*/
    }
}

@media (min-width: 992px) {
    .contact-me p {
        /*        top: .5em;*/
        /*        left: 2em;*/
    }
    .contact-me h1 {
        position: relative;
        /*        right: 1em;*/
    }
}


/*STAT CHANGE ----------------------------------------------------------------*/

.active-nav {
    /*    color: #FFCD05;*/
    border-bottom: 5px #FFCD05 solid;
    padding-bottom: 6px;
}

.center-lines {
    background: url(../img/gray-pixel.gif) 0 50% repeat-x;
}


/*
.center-lines::before,
.center-lines::after {
    border-top: 1px solid #353535;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.3em;
    width: 45%;
    vertical-align: middle;
}

.center-lines::before {
    right: 1.5%;
}

.center-lines::after {
    left: 1.5%;
}
*/

.find-my-games-bg {
    background: #AB1E1E;
}

.find-my-games-color {
    color: #AB1E1E;
}

.blocbox-color {
    color: #8BBDE5;
}

.blocbox-bg {
    background: #8BBDE5;
}

.generic-paper-color {
    color: #48C2C5;
}

.hide {
    display: none;
}
